<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Telerik UI for ASP.NET Core 2024.1.130(AdditionalPackages)" value="D:\Telerik UI for ASP.NET Core 2024 Q1\" />
    <add key="Telerik UI for ASP.NET Core 2024.1.130(MainPackage)" value="D:\Telerik UI for ASP.NET Core 2024 Q1\wrappers\aspnetcore\Binaries\AspNet.Core" />
  </packageSources>
</configuration>